<div class="wrapper">
  <div class="box a">
    <h1>{{intro?.name}}</h1>
    <p>{{intro?.description}}</p>
  </div>
  <div class="box b">
    <h2>
      <span>
        Today is going to be a good day!
      </span>
    </h2>
  </div>
  <div class="box c">
    <h2><span>Skills:</span></h2>
    <ul>
      <li *ngFor="let skill of skills" style="margin-top: 10px">
        <label>{{skill.name}} {{skill.percent}}%</label>
        <mat-progress-bar mode="buffer" [bufferValue]="skill.percent" color="primary"></mat-progress-bar>
      </li>
    </ul>
  </div>
  <div class="box d">
      <h2>
        <span>Social:</span>
      </h2>
      <ul>
        <li>
          <a [href]="social?.github.link" rel="prefetch" target="_blank">
            <span [class]="social?.github.cssClass"></span>
            {{social?.github.username}}
          </a>
        </li>
        <li>
          <a [href]="social?.linkedin.link" rel="prefetch" target="_blank">
            <span [class]="social?.linkedin.cssClass"></span>
            {{social?.linkedin.username}}
          </a>
        </li>
        <li>
          <a [href]="social?.twitter.link" rel="prefetch" target="_blank">
            <span [class]="social?.twitter.cssClass"></span>
            {{social?.twitter.username}}
          </a>
        </li>
      </ul>
  </div>
  <div class="box e">
    <img src="assets/images/ASD_0017.jpeg" alt="I">
  </div>
</div>
