<div class="wrapper">
  <div class="box a">
    <h1>Gerlis Álvarez Cardona</h1>
    <p>
        Web developer. 2 years experience with programming languages like JavaScript, Java 8 and JS frameworks like Angular+.
    </p>
  </div>
  <div class="box b">
    <p>
      Lorem ipsum dolor sit amet
    </p>
  </div>
  <div class="box c">
    <h3>Social:</h3>
    <ul>
      <li>
        <a href="">
          <span class="icon-github"></span>
          galvarez18
        </a>
      </li>
      <li>
        <a href="">
            <span class="icon-linkedin"></span>
            Gerlis A.C
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon-twitter"></span>
          GerAlvarez15
        </a>
      </li>
    </ul>
  </div>
  <div class="box d">
    <p>This is box D.</p>
    <code>justify-self: center</code>
  </div>
  <div class="box e">
    <img src="assets/images/ASD_0017.jpeg" alt="I">
  </div>
</div>